<p>
<%= @player_1.name %> attacked <%= @player_2.name %>
</p>
<%= @player_2.name %>: HitPoints decrease by 10, <%= @player_2.hitpoints %>HP

<form action='/play' method='get'>
<input type="submit" value = 'OK' >
</form>