<p>
<%= $game.player_1.name %> attacked <%= $game.player_2.name %>
</p>
<%= $game.player_2.name %>: HitPoints decrease by 10, <%= $game.player_2.hitpoints %>HP

<form action='/play' method='get'>
<input type="submit" value = 'OK' >
</form>
